<mat-sidenav #sidenav class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
  <mat-nav-list>
    <!-- <a mat-list-item *ngIf="(user$|async)==null" (click)="onLogin(drawer)">Login</a>
      <a mat-list-item *ngIf="user$|async" [routerLink]="['classroom']" (click)="sidenav.close()">Classroom</a>
      <a mat-list-item *ngIf="user$|async" (click)="onLogout(drawer)">Logout</a> -->
  </mat-nav-list>
</mat-sidenav>
