<main>
  <h3>Google Calendar and Firebase</h3>
  <div *ngIf="authService.user$ | async as user">
    <h3>Bienvenido {{user.displayName}}</h3>
    <img src="{{user.photoURL}}" width="50px">
  </div>
  <button (click)="authService.login()">Login</button>
  <button (click)="authService.logout()">Logout</button>
  <hr>
  <button (click)="authService.getCalendar()">Get Calendar</button>
  <button (click)="authService.insertEvent()">Add Event</button>
  <div *ngFor="let item of authService.calendarItems">
    <h3>{{item.summary}} - {{item.status}}</h3>
    <p><em>Created {{item.created}}</em></p>
    <p>{{item.description}}</p>
    <hr>
  </div>
</main>
<router-outlet></router-outlet>
