<main>
  <h3>Google Classroom and Firebase</h3>
  <button mat-button (click)="authService.login()">Login</button>
  <button mat-button (click)="authService.logout()">Logout</button>
  <div *ngIf="authService.user$ |async as user">
    <h3>Bienvenido {{user.displayName}}</h3>
    <img src="{{user.photoURL}}" width="50px"><br>
    <button mat-button (click)="getMyCourses(user.providerData[0].uid)">Estudiante</button>
    <button mat-button (click)="authService.getAllCourses()">Surprise</button>
    {{user.providerData[0].uid|json}}
  </div>
  <hr>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let course of this.authService.courses$" [class.mat-elevation-z10]="panelOpenState"
      (opened)="onExpand(course.ownerId)" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{course.name}}
        </mat-panel-title>
        <mat-panel-description *ngIf="authService.classroomUser$ as classOwner">
          {{classOwner.name.fullName}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>









  <!--   <button mat-buton (click)="authService.listCourses()">Get Classroom</button>
 -->
  <!-- <div *ngFor="let course of (this.authService.courses$)">
    <h3>{{course.courseId}} - {{course.courseName}}</h3>
    <p><em>Date Created: {{course.creationTime}}</em></p>
    <p><em>Last Updated: {{course.lastUpdate}}</em></p>
    <p>Owner: {{course.ownerName.value}}</p>
    <p>Section: {{course.section}}</p>
    <p>Room: {{course.room}}</p>
    <p>Description: {{course.desc}}</p>
    <p>DescriptionHeading: {{course.descHeading}}</p>
    <p>Guardians: {{course.guardiansEnable}}</p>
    <p>Link: {{course.alternateLink}}</p>
    <p>Teachers:</p>
    <div *ngFor="let teacher of course.teachers|async">
      <p>{{teacher.profile}}</p>
    </div>


    <hr>
  </div> -->
</main>
<router-outlet></router-outlet>
