<main>
  <h3>Google Calendar and Firebase</h3>
  <div *ngIf="authService.user$ | async as user">
    <h3>Bienvenido {{user.displayName}}</h3>
    <img src="{{user.photoURL}}" width="50px">
  </div>
  <button (click)="authService.login()">Login</button>
  <button (click)="authService.logout()">Logout</button>
  <hr>
  <button (click)="authService.listCourses()">Get Calendar</button>
  <div *ngFor="let course of (this.authService.courses$|async)">
    <h3>{{course.descriptionHeading}} - {{course.courseState}}</h3>
    <p><em>Created {{course.creationTime}}</em></p>
    <p>{{course.description}}</p>
    <hr>
  </div>
</main>
<router-outlet></router-outlet>
