<!-- <mat-progress-bar *ngIf="authService.isQuery" class="p-0 m-0" mode="query"></mat-progress-bar> -->
<div *ngIf="authService.courses$==null" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate">
  </mat-progress-spinner>
  <span>Buscando cursos...</span><br>

  <button mat-raised-button color="primary" (click)="authService.getCourses(user.uid, 'STUDENT')">Reintentar</button>

</div>
<div>
  <mat-accordion>
    <button mat-raised-button color="primary" (click)="loadTeacherInfo(user.uid)">get Teacher's Info</button>
    <mat-expansion-panel *ngFor="let course of this.authService.courses$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{course.name}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div>
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="">
            <mat-card-title>
            </mat-card-title>
            <mat-card-subtitle>

            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!--  {{classOwner.profile.photoUrl}} -->
          </mat-card-content>
          <mat-card-actions align="end">

          </mat-card-actions>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
