<div class="p-2 dashboard-container" *ngIf="(user$|async) as user">
  <app-user [user]="user"></app-user>
  <!--   <button mat-raised-button (click)="loadStudentCourses(user.providerData[0].uid)">Alumno</button>
 -->

  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['user-graduate']"></fa-icon>Como alumno
      </ng-template>
      <div class="pt-3" *ngIf="(coursesInfo) as courses" fxLayout="row wrap" fxLayout.lt-sm="column"
        fxLayoutAlign="space-between">

        <!-- <app-cursos-alumno [coursesInfo]="courses"></app-cursos-alumno> -->
        <mat-card *ngFor="let course of coursesInfo" class="mb-3 simple-card" fxFlex="0 1 calc(33.3% - 10px)"
          fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
          <!-- [routerLink]="[item.route_link] -->
          <mat-card-header>
            <img mat-card-avatar src="{{course.ownPhoto}}">
            <mat-card-title>
              {{course.name}} ({{course.section}})
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>


            </mat-card-title>
            <mat-card-subtitle>
              <p>
                {{course.ownGivenName + ' ' + course.ownFamilyName}}
              </p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{course.desc}}<br>
              Fecha de Creación: {{course.creationTime|date:'medium'}}<br>
              Última modificacion: {{course.updateTime|date:'medium'}}<br>


          </mat-card-content>
          <mat-card-footer align="right">
            <div fxLayout="row wrap" fxLayoutAlign="end center">
              <fa-icon [ngClass]="(course.state=='ACTIVE') ? 'text-success' : 'text-danger'"
                matTooltip="{{(course.state=='ACTIVE') ? 'Curso Activo' : 'Curso Inactivo'}}" matTooltipPosition="above"
                [icon]="(course.state=='ACTIVE') ? faCheckCircle : faCheckCircle">
              </fa-icon>

              <fa-icon [ngClass]="(course.guardiansEnabled) ? 'text-success' : 'text-danger'"
                matTooltip="{{(course.state=='ACTIVE') ? 'Informe a tutores Activado' : 'Informe a tutores Desactivado'}}"
                matTooltipPosition="above"
                [icon]="(course.guardiansEnabled) ? faChalkboardTeacher : faChalkboardTeacher">
              </fa-icon>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Como Profesor"></mat-tab>

  </mat-tab-group>
</div>
