<div class="p-5">
  <div class="h-100">
    <div *ngIf="!(user$|async)" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner strokeWidth="3" [diameter]="50">
      </mat-spinner>
      <span>Buscando...</span><br>
      <button mat-button (click)="authService.login()">Reintentar</button>
    </div>
    <div class="p-2" *ngIf="(user$|async)">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <div fxFlex="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
          <app-user [user]="user$|async"></app-user>
        </div>
        <div fxFlex="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
          <mat-card class="simple-card">

          </mat-card>
        </div>
      </div>
      <router-outlet>
      </router-outlet>
      <!-- <app-clases [coursesInfo]="coursesInfo"></app-clases> -->
    </div>
  </div>
</div>
