/* You can add global styles to this file, and also import other style files */
@import "assets/themes/custom-theme.scss";
html, body { height: 100%; background-color: #ffffff!important;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: inherit !important;
}
  app-root {
    min-height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    background-color:lightpink!important;
  }
  mat-toolbar {
    height: 50px !important;
    background-color: inherit;
  }
  .mat-toolbar-multiple-rows {
    min-height: 50px;
    height: 50px !important;
  }
  mat-toolbar > .mat-toolbar-multiple-rows {
    min-height: 50px;
    height: 50px !important;

  }
  mat-toolbar > .mat-toolbar-row {
    height: 50px!important;
    max-height: 50px!important;
    background-color: lightyellow!important;
  }
  .simple-card {
    box-shadow: none !important;
    background: inherit;
    border: 1px solid lightgrey;
    border:1px solid black;
    mat-card-title {
      font-size: xx-small;
    }
    }

