<app-toolbar [user]="user$ | async" (toggleSidenav)="sidenav.toggle()">
</app-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav [ngStyle]="{ 'background-color': 'lightgreen', 'border': 'none' }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/']">Home</a>
      <a mat-list-item *ngIf="(user$ | async) == null" (click)="onLogin(sidenav)">Login</a>
      <a mat-list-item *ngIf="user$ | async" [routerLink]="['classroom']" (click)="sidenav.close()">Classroom</a>
      <a mat-list-item *ngIf="user$ | async" (click)="onLogout(sidenav)">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [ngStyle]="{ 'background-color': 'lightblue', 'min-height': '800px' }">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
