.sidenav-container {
  height: auto;
}

.sidenav {
  width: auto;
  max-width: 250px;
  background-color: white !important;
  border:none
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
