<div class="p-5">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="text-center">
      <img class="img-fluid" [ngStyle]="{'height': '200px', 'width': 'auto' }" src="assets/images/rds-nobackground.png">
      <p class="display-4">Escuela<br>Rafael Díaz Serdán</p>
      <h2 class="mat-h2 text-success">Ingresa con tu cuenta escolar</h2>
      <button mat-icon-button (click)="onLogin()">
        <img [ngStyle]="{'height': '80px', 'width': 'auto' }" src="assets/images/google-logo.png">
      </button>
    </div>
  </div>
</div>
